rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow users to upload files to their own directory
    match /users/{userId}/{allPaths=**} {
      allow read, write: if request.auth.uid == userId;
    }

    // Allow authenticated users to upload form exports
    match /forms/{userId}/{allPaths=**} {
      allow read, write: if request.auth.uid == userId;
    }
  }
}
